.login {
  height: 100vh;
  background-color: #00b3a4;
}
.header {
  flex: 2;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  padding-left: 30px;
}
.footer {
  background-color: #fff;
  color: #a8a9ab;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 50px 30px;
  bottom: 0;
  flex: 4;
}

.textField {
  height: 4.5ch;
}
.button {
  height: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: capitalize;
}
