.card-header {
  padding: 25px 0px !important;
}

.title-card-header {
  font-size: 24px;
  font-style: italic;
}

.img {
  width: 160px !important;
  height: 160px !important;
  margin: 10px;
}
.button-refesh {
  font-size: 14px;
}
